/.gitattributes export-ignore
/.gitmodules export-ignore
/.gitignore export-ignore
/.github/** export-ignore
/generate/** export-ignore
/ci/** export-ignore
/shell.nix export-ignore
/README.md export-ignore
